body{
    background-color:#285A48;
}
.font{
 
    color:aliceblue; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container{
    display:flex;
}
.sidebar {
    width:250px;
    min-height: 100vh;;
    background-color:#091413; ;
    padding:30px 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:0px;
    
    
}
.sidebar a{
    text-decoration: none;
    color :#B0E4CC;
    display:block;
    padding: 20px;
    border-radius: 10%;
    background-color: #091413;
    width:100%;
}
.sidebar a:hover{
color :#285A48;

}
.content{
    flex:1;
    padding:40px;
}
.list{
    text-decoration:none;
    color:aliceblue
}
ul{
    list-style: none;
    width: 80%;
    padding:0;
    margin: 0;
    gap:0;
}
li{
    width: 100%;
}
a{
    display:block;
     width: 100%;
}
.button{

background-color: #B0E4CC;
font-family:serif sans-serif;
display: flex;
height: 22%;
border-radius: 14px;
padding:40px ;
font-size: larger;
width:100%
}
.buttons{
width: 70%;
}
.resume{
   
    background-color:#B0E4CC;
    color:black;
    text-align:justify;
    

}
h2{
    font-size: 35px;
    padding-left: 10px;
}
p{
    font-size: 17px;
     padding-left: 10px;
}
